@font-face {
    font-family: "metropolisregular";
    src: url("/fonts/metropolis-regular-webfont.woff2") format("woff2"),
        url("/fonts/metropolis-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "metropolissemi_bold";
    src: url("/fonts/metropolis-semibold-webfont.woff2") format("woff2"),
        url("/fonts/metropolis-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
